@charset "utf-8";
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #E9D9C0;
}
.logo {
    width: 434px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4.44%;
    /* 64/1440*100=4.44% */
    
    position: absolute;
    width: 100%;
}
.header__nav ul {
    display: flex;
    gap: 48px;
}
.header__nav a {
    font-family: "Alatsi", sans-serif;
    color: #fff;
}
.concept {
    margin: 0 auto;
    padding: 132px 10px ;
    max-width: 907px;
    text-align: center;
}
.concept p {
    font-size: 26px;
    letter-spacing: 5%;
    font-family: "Alatsi", sans-serif;
}
.concept h2 {
    padding-top: 40px;
    font-size: 64px;
    font-weight: normal;
    line-height: 150%;
}
.concept h3{
    padding-top: 16px;
    font-size: 24px;
    font-weight: normal;
    line-height: 150%;
}

#about-us, #menu, #event, #access .container {
    padding: 0 10px;
    max-width: 1020px;
    margin: 0 auto;
}

#about-us {
    display: flex;
    flex-direction: row;
    
    padding-bottom: 144px;
}

#about-us img {
    width: 44%;
    border-bottom-right-radius: 64px;
    margin-right: 40px;
}

#about-us .lead__content {
    width: 52%;
}

#about-us .lead__txt {
    font-size: 32px;
    line-height: 150%;
    padding-bottom: 16px;
}

#about-us p {
    font-size: 14px;
    line-height: 180%;
} 

.container h3 {
    font-family: "Diplomata SC", serif;
    font-size: 40px;
    font-weight: normal;
    color: #D20202;
    padding-bottom: 40px;
}


#menu ul {
    display: flex;
    padding-bottom: 144px;
    text-align: left;
    justify-content: space-between;
}

#menu li {
    width: 32%;
}

#menu img {
    border-top-right-radius: 64px;
}

#menu, #gallery, #event, #access h3 {
    text-align: center;
}

#menu h4 {
    font-family: "Diplomata SC", serif;
    font-size: 26px;
    font-weight: normal;
    color: #D20202;
    margin-top: -10px;    
}

#menu p {
    font-size: 14px;
    line-height: 180%;
    margin-top: -24px;
}



#gallery ul {
    display: flex;
    justify-content: center;
    padding-bottom: 144px;
}

#event .event__container {
    max-width: 1000px;
    height: 156px;
    background-color: #fff;
    border: solid 1px #4F270B;
    margin-bottom: 144px;
    display: flex;
}

#event .event__container ul {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    padding-top: 18px;
    align-items: left;
    flex-direction: column;    
}

#event .event__contents li {
    display: flex;
    flex-direction: row;
    padding: 10px 0 16px 0;
}

#event .event__contents li 
.event__day {
    padding-right: 40px;
}

#access .container {
    max-width: 1000px;
}


#access .access__maparea iframe {
    position: relative;
    width: 100%;
  
    filter: grayscale(100%);
    transition: all 0.7s ease;
}

iframe:hover{
    filter: none;
    -webkit-filter: none; 
}


#footer {
    width: 100%;
    padding: 80px 0 60px 0;
    background-color: #fff;
    
}

#footer .footer__inner-top {
    max-width: 1000px;
    height: 244px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#footer .logo {
    width: 380px;
    padding-right: 39px;
}

#footer .footer__inner ul {
    width: 580px;
    display: block;
    align-items: center;
}

#footer .inner__info p {
    width: 580px;
    margin: 0 auto;
    display:inline;
    padding-right: 40px;
}

#footer .inner__info li {
    font-size: 16px;
    line-height: 150%;
}

#footer .backButton {
    width: 140px;
    height: auto;
    border-radius: 50%;
    border: none; 
    overflow: hidden; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    position: fixed;
}


#footer .footer__inner-btm {
    max-width: 1000px;
    
    display: flex;
    align-items: left;
    margin: 0 auto;
}
#footer small {
    font-size: 16px;
    line-height: 150%;
    max-width: 1000px;
}